body{
    font-family: 'Quicksand', sans-serif;
}

.menu{
    height: 4rem;
    width: 100%;
}

.linkek{
    transition: .6s;
}

.linkek:hover{
    transform:scale(1.15);
    transition: .6s;
}

.cim{
    font-weight: bold;
}

.menuitem{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 0.5rem;
    font-size: 13pt;
    font-weight: bold;
}

#introduction{
    height: 58rem;
    background-image: url(pexels-francesco-paggiaro-1209930.jpg);
    background-color: rgb(136, 136, 136);
    background-blend-mode: darken;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
}

#fooldal{
    width: auto;
    height: 52rem;
    text-align: right;
}

#info{
    background-color: whitesmoke;
}

#fooldal_szoveg{
    width: auto;
    margin-top: 16rem;
    margin-bottom: 44rem;
    padding: 2rem;
    color: whitesmoke;
    text-align: center;
    border-bottom: 3px solid rgba(245, 245, 245, 1);
    border-right: 3px solid rgba(245, 245, 245, 1);
}

.infok{
    height: auto;
    margin: auto;
}

.cimresz1{
    padding-top: 4rem;
    color: #505A5B;
    background-color: whitesmoke;
}

.cimresz2{
    padding-top: 4rem;
    color: whitesmoke;
    background-color: #505A5B;
}

.cimek{
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.leiras1{
    padding: 2vw 10vw;
    text-align: center;
    font-size: 14pt;
    color: #505A5B;
    background-color: whitesmoke;
}

.leiras2{
    padding: 2vw 10vw;
    text-align: center;
    font-size: 14pt;
    color: whitesmoke;
    background-color: #505A5B;
}

.szoveg{
    padding-bottom: 3rem;
}

.link1{
    color: #505A5B;
    font-size: 16pt;
    text-decoration: underline #505A5B;
    font-weight: bold;
}

.link2{
    color: whitesmoke;
    font-size: 16pt;
    text-decoration: underline whitesmoke;
    font-weight: bold;
}